.form {
  /* display: block; */
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 30px 15px;
  border: 1px solid black;
}

.form-field {
  position: relative;
}
.form-field:not(:last-child) {
  margin-bottom: 28px;
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(-100% + -4px));
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-input:focus-visible {
  outline: 1px solid #2196f3;
}

.submit-btn {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;

  margin-top: 20px;
  display: block;

  max-width: 100px;
  padding: 7px 4px;

  font-size: 13px;

  border-radius: 4px;
}

.submit-btn:hover {
  background-color: #c8e4fc;
}
