.form {
  display: block;
  width: 300px;
  padding: 30px 15px;
  border: 1px solid black;
}

.form-field {
  position: relative;
}

.form-label {
  position: absolute;
  top: -20px;
  left: 0;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-input:focus-visible {
  outline: 1px solid #2196f3;
}

.submit-btn {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;

  margin-top: 30px;
  display: block;

  max-width: 150px;
  padding: 8px 5px;
}
